<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Diabetes Predictor</h1>

    <form method="POST" action="/">
        <input type="text" name="Pregnancies" placeholder="Pregnancies" />
        <input type="text" name="Glucose" placeholder="Glucose" />
        <input type="text" name="BloodPressure" placeholder="BloodPressure" />
        <input type="text" name="SkinThickness" placeholder="SkinThickness" />
        <input type="text" name="Insulin" placeholder="Insulin" />
        <input type="text" name="BMI" placeholder="BMI" />
        <input type="text" name="DiabetesPedigreeFunction" placeholder="DiabetesPedigreeFunction" />
        <input type="text" name="Age" placeholder="Age" />
        <input type="submit" value="Predict" />
    </form>

</body>
</html>